*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #faf9fb;
    color: #070707;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a{
    color: #070707;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover{
    color: #007bff;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
}

.hero h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero h2{
    font-size: 1.5rem;
    margin-bottom: 40px;
    color: #555;
}

button{
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 1rem;
    border: none;
    background: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}


.about{
    padding: 80px 60px;
    text-align: center;
}

.about h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #070707;
}

.about p{
    line-height: 1.6;
    font-size: 1rem;
    color: #555;
    max-width: 700px;
    margin: 0 auto;
}

.about-info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}
.about-info div{
    background: #fff;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.about-info div:hover{
    transform: translateY(-8px);
    background: #00bcd4;
}

.info-item{
    flex: 1;
    min-width: 200px;
    margin: 20px;
}

.skills{
    padding:80px 60px;
    text-align:center;
}

.skills h2{
    font-size:2.5rem;
    color:#00bcd4;
    margin-bottom:40px;
}

.skill{
    max-width:700px;
    margin:20px auto;
    text-align:left;
}

.skill p{
    margin-bottom:8px;
    font-weight:bold;
}

.progress{
    width:100%;
    height:12px;
    background:#333;
    border-radius:20px;
    overflow:hidden;
}

.progress div{
    height:100%;
    background:#00bcd4;
    border-radius:20px;
}

.html{
    width:90%;
}

.css{
    width:85%;
}

.javascript{
    width:75%;
}

.react{
    width:60%;
}

.git{
    width:70%;
}